@require '../../vars'

$barHeight = 32px

.z-app-bar
  shadow-1()
  position: relative
  z-index: $zIndexAppBar
  height: $barHeight
  user-select: none

  &.is-flat
    box-shadow: none

  > .bar
    padding: 16px
    width: 100%
    height: $barHeight
    box-sizing: border-box
    display: flex
    flex-direction: column
    background-size: 84px auto
    padding: 0 16px

    > .wrapper
      width: 100%

      > .top
        width: 100%
        height: $barHeight
        display: flex
        align-items: center

        > .top-left-button
          margin-right: 24px

        > .top-right-button
          margin-left: auto

          > .group-currency
            display: flex

            > .icon
              margin-left: 4px


        > .title
          font-title()
          text-transform: uppercase
          white-space: nowrap
          text-overflow: ellipsis
          overflow: hidden
          padding-right: 8px


  @media (min-width: $breakPointMedium)
    height: 64px

    > .bar
      height: 64px

      > .wrapper
        > .top
          height: 64px
